{% extends 'base.html.twig' %}

{% block title %}Liste des actus{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
{% endfor %}

<section class="row articles text-center justify-content-center">
<h1 class="display-3 my-5 fw-bold">Nos actualités</h1>
{% for actu in tabActus %}
    <article class="col-8 mx-3 text-center border border-secondary mt-3 p-3 rounded shadow" style="z-index:0;">
        <div class="content">
            <img src="{{ asset('img/actu/' ~ actu.photo) }}" alt="" class="img-fluid mx-2" style="float:left;max-width:100px;">
            <h3 class="fw-bold">{{ actu.titre }}</h3>
            <p>{{ actu.dateActu|date("d/m/Y à H:i") }}</p>
            <p>{{ actu.contenu|raw }}</p>
        </div>
    </article>

{% endfor %}
</section>

{% endblock %}
