{% extends 'base.html.twig' %}

{% block title %}Liste des t-shirt{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
{% endfor %}

<section class="row articles text-center justify-content-center">
<h1 class="display-3 my-5 fw-bold">Nos chambres</h1>
{% for chambre in tabChambres %}

    <article class="col-3 mx-3 text-center border border-secondary my-3 p-3 rounded shadow" style="z-index:0;">
        <a href="{{ path('app_chambre', {id:chambre.id}) }}" class="text-decoration-none text-warning"><h2 class="fw-bold">{{ chambre.titre }}</h2></a>
        <a href="{{ path('app_chambre', {id:chambre.id}) }}" class="text-decoration-none text-dark"><div class="metadata">{{ chambre.prix }}€</div></a>
        <div class="content" style="min-height:250px;">
            <a href="{{ path('app_chambre', {id:chambre.id}) }}"><img src="{{ asset('img/chambre/' ~ chambre.photo) }}" alt="" class="img-fluid max-width:100%;"></a>
            <a href="{{ path('app_chambre', {id:chambre.id}) }}" class="text-decoration-none text-dark"><p>{{ chambre.descShort|raw }}</p></a>
            
        </div><a href="{{ path('app_chambre', {id:chambre.id}) }}" class="btn btn-info">Détail</a>
        {% if app.user %}
            {% if chambre.nbChambre>0 %}
            {# <a href="{{ path('cart_add', {id:chambre.id}) }}" class="btn btn-success m-3">Réserver</a> #}
            {% else %}
                <span class="btn text-danger">Indisponible</span>
            {% endif %}
            
        {% else %}
            <a href="#" class="btn btn-success m-3" onclick="getElementById('connect').style.display='';getElementById('body').style='background-color: rgba(0, 0, 0, 0.4);';">Se connecter</a>
        {% endif %}
    </article>

{% endfor %}
</section>

{% endblock %}
