{% extends 'base.html.twig' %}

{% block body %}
<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
{% set cpt = 0 %}
{% set actif = true %}
{% for slid in sliders %}
    {% if actif == true %}
        {% set actif = false %}
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ cpt }}" class="active" aria-current="true" aria-label="Slide {{ cpt }}" data-bs-ride="carousel" data-bs-interval="10000"></button>
    {% else %}
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ cpt }}" aria-label="Slide {{ cpt }}" data-bs-ride="carousel" data-bs-interval="2000"></button>
    {% endif %}
    {% set cpt = cpt+1 %}
{% endfor %}
  </div>

<div class="carousel-inner">
{% set actif = true %}
{% for slid in sliders %}
    {% if actif == true %}
        {% set actif = false %}
        <div class="carousel-item active">
    {% else %}
        <div class="carousel-item">
    {% endif %}
      <img src="{{ asset('img/slider/' ~ slid.photo) }}" class="d-block w-100 img-fluid rounded-bottom" style="max-height:50vh;" alt="...">
    {# <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div> #}
</div>
  
{% endfor %}
</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="container row my-4">
  <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-2 mx-auto text-center rounded shadow py-2">
    <div class="mx-auto" style="border-radius:50%;width:150px;height:150px;background-image:url('/img/chambre/chambre150.jpg')"></div>
    <h3>Chambre</h3>
    <p style="min-height:100px;">Venez découvrir nos chambres !</p>
    <a href="{{ path('app_chambres') }}" class="btn btn-info">Découvrir les chambres</a>
  </div>
  <div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-2 mx-auto text-center rounded shadow py-2">
    <div class="mx-auto" style="border-radius:50%;width:150px;height:150px;background-image:url('/img/service/resto150.jpg')"></div>
    <h3>Restaurant</h3>
    <p style="min-height:100px;">Nos plats sont confectionnés à la minute par notre chef cuisinier chaque jour.</p>
    <a href="{{ path('app_restaurants') }}" class="btn btn-info">Voir la carte</a>
  </div>
  <div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-2 mx-auto text-center rounded shadow py-2">
    <div class="mx-auto" style="border-radius:50%;width:150px;height:150px;background-image:url('/img/service/spa150.jpg')"></div>
    <h3>Spa</h3>
    <p style="min-height:100px;">Détendez-vous et offrez-vous un massage dont vous vous rappellerez longtemps.</p>
    <a href="{{ path('app_spas') }}" class="btn btn-info">Les soins</a>
  </div>
</div>
{% endblock %}
