{% extends 'base.html.twig' %}

{% block title %}{{ restaurant.titre }}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">{{ message }}</div>
{% endfor %}

<section class="row articles mx-auto">

    <article class="col-md-10 mx-auto text-center border border-dark my-3 p-3">
        <div class="content">
            <h2 class='text-warning fw-bold'>{{ restaurant.titre }}</h2>
            <p class="text-secondary">{{ restaurant.descShort|raw }}</p>
            <img src="{{ asset('img/service/' ~ restaurant.photo) }}" alt="" class="img-fluid me-2" style="max-width:400px;float:left;">
            <p class="text-secondary">{{ restaurant.descLong|raw }}</p>
        </div>
        {% if app.user %}
            {% if restaurant.nbPlace>0 %}
            {# <a href="{{ path('cart_add', {id:restaurant.id}) }}" class="btn btn-outline-success m-3">Réserver</a> #}
            {% else %}
                <span class="text-danger">restaurant indisponible</span>
            {% endif %}
        {% else %}
            <a href="{{ path('app_register') }}" class="btn btn-outline-success m-3">Créer un compte</a>
            <a href="#" class="btn btn-outline-success m-3" onclick="getElementById('connect').style.display='';getElementById('body').style='background-color: rgba(0, 0, 0, 0.4);';">Se connecter</a>
        {% endif %}
    </article>

</section>

{% endblock %}
