{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.civilite, {
            label: 'Civilité'
        }) }}

        {{ form_row(registrationForm.prenom, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.nom, {
            label: 'Nom de famille'
        }) }}

        {{ form_row(registrationForm.email, {
            label: 'Adresse E-mail'
        }) }}

        {{ form_row(registrationForm.newsletter, {
            label: 'Recevoir la newsletter'
        }) }}


        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-success">Créer le compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
